net "aux0" loc = p11;
net "aux1" loc = p12;
net "aux2" loc = p13;
net "aux3" loc = p14;
net "aux4" loc = p15;
net "aux5" loc = p65;
net "aux6" loc = p64;

net "pb2" loc = p17;
net "pb3" loc = p18;
net "pb4" loc = p20;
net "pb5" loc = p25;
net "pb6" loc = p33;

net "casin" loc = p22;
net "o2" loc = p23;
net "fa14" loc = p28;
net "fa15" loc = p27;
net "n_map" loc = p40;
net "rd4" loc = p39;
net "rd5" loc = p37;
net "ren" loc = p36;
net "n_os" loc = p58;
net "n_ci" loc = p63;
net "n_io" loc = p61;
net "n_be" loc = p60;
net "n_s4" loc = p59;
net "n_s5" loc = p54;
net "n_mpd" loc = p56;
net "n_basic" loc = p55;
net "n_ref" loc = p53;
net "n_ras" loc = p70;
net "n_we" loc = p71;

net "casman" loc = p29;
net "casbnk" loc = p30;
net "emmu_11" loc = p35;
net "halt" loc = p32;

net "a0" loc = p68;
net "a1" loc = p66;
net "a2" loc = p67;
net "a3" loc = p6;
net "a4" loc = p8;
net "a5" loc = p9;
net "a6" loc = p4;
net "a7" loc = p10;
net "a11" loc = p52;
net "a12" loc = p50;
net "a13" loc = p49;
net "a14" loc = p42;
net "a15" loc = p41;

net "ram_addr<0>" loc = p3;
net "ram_addr<1>" loc = p1;
net "ram_addr<2>" loc = p99;
net "ram_addr<3>" loc = p97;
net "ram_addr<4>" loc = p96;
net "ram_addr<5>" loc = p95;
net "ram_addr<6>" loc = p94;
net "ram_addr<7>" loc = p93;
net "ram_addr<8>" loc = p81;
net "ram_addr<9>" loc = p82;
net "ram_addr<10>" loc = p87;
net "ram_addr<11>" loc = p85;
net "ram_addr<12>" loc = p92;
net "ram_addr<13>" loc = p79;
net "ram_addr<14>" loc = p91;
net "ram_addr<15>" loc = p76;
net "ram_addr<16>" loc = p90;
net "ram_addr<17>" loc = p77;
net "ram_addr<18>" loc = p89;
net "ram_n_we" loc = p78;
net "ram_n_oe" loc = p86;

NET "o2" BUFG = CLK;
NET "o2" TNM_NET = "grp_o2";
TIMESPEC "TS_o2" = PERIOD "grp_o2" 561 ns HIGH 40%;
NET "pb5" BUFG = DATA_GATE;
